
.mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.mat-card{
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: transparent;
    margin-bottom: 10px;
    border-left-color: $color--primary;
}