form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.mat-card {
    display: grid;
    margin-left: 10px;
}

.date .mat-form-field {
    width: 30%;
    margin-right: 15px;
    margin-bottom: 10px;
}

.button-back {
    margin-right: 15px;
}
